{% extends 'base.html' %}
{% load static %}

{% block title %} Posts Page {% endblock %}

{% block content %}
    <h2 class="text-primary text-center mt-3">Here will be my posts about information technology!</h2    >
    
    <div class="container">
        <div class="row">
            <div class="col-2">

            </div>

            <ul class="list-unstyled">
                {% for post in posts %}
                    {% if post.image %}
                    <img src="{{ post.image.url }}" alt="{{ post.title }}"  class='cover-pic'>
                    {% else %}
                        <p>No image available</p>
                    {% endif %}
                    <h3 class="my-3"><a class="text-decoration-none" href="{% url 'post_detail' post.id %}"><li>{{post.title}}</li></a></h3>
                    <p class=""><li>{{post.content | truncatewords:15}}</li></p>
                    <li>category: <i>{{post.category}}</i></li>
                    <li>{{post.created_at}}</li>
                {% endfor %}
            </ul>
        </div>
        
        
    </div>
    
{% endblock content %}

