{% extends 'base.html' %}
{% load static %}

{% block title %} Posts Page {% endblock %}

{% block content %}
    <h2 class="text-primary text-center mt-3">Here will be my posts about information technology!</h2    >
    
    <div class="container">
        <div class="row">
            <div class="col-4">
                <form method="get" class="d-flex mb-3">
                    <input type="search" class="form-control me-2", name="q", placeholder="Search">
                    <button type="submit" class="btn btn-success">Search</button>
                </form>
            </div>

            <ul class="list-unstyled">
                {% for post in page_obj %}
                    {% if post.image %}
                    <img src="{{ post.image.url }}" alt="{{ post.title }}"  class='cover-pic'>
                    {% else %}
                        <p>No image available</p>
                    {% endif %}
                    <h3 class="my-3"><a class="text-decoration-none" href="{% url 'post_detail' post.id %}"><li>{{post.title}}</li></a></h3>
                    <p class=""><li>{{post.content | truncatewords:15}}</li></p>
                    <li>category: <i>{{post.category}}</i></li>
                    <li>{{post.created_at}}</li>
                {% endfor %}
            </ul>
            
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    {% if page_obj.has_previous %}  
                    <li class="page-item"><a class="page-link" href="{% url 'post' %}?page=1">&laquo; first</a></li>
                    <li class="page-item"><a class="page-link" href="{% url 'post' %}?page={{page_obj.previous_page_number}}">previous</a></li>
                    {% endif %}

                    <li class="page-item active"><a class=" page-link" href="#">{{page_obj.number}}</a></li>

                    {% if page_obj.has_next %}
                    <li class="page-item"><a class="page-link" href="{% url 'post' %}?page={{page_obj.next_page_number}}">next</a></li>
                    <li class="page-item"><a class="page-link" href="{% url 'post' %}?page={{page_obj.paginator.num_pages}}">last &raquo;</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
        
        
    </div>
    
{% endblock content %}

